#DOCUMENTID=code:00000003/22-1
ORDER_NOTE_KEYWORD=State:
#ABRAFLEXI_URL=https://demo.flexibee.eu:5434
#ABRAFLEXI_LOGIN=winstrom
#ABRAFLEXI_PASSWORD=winstrom
#ABRAFLEXI_COMPANY=demo_de
#EASE_LOGGER=syslog|console
