Source: abraflexi-order-status-changer
Section: fintech
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: Change AbraFlexi order status according the keyword in note field. 
Vcs-Git: https://github.com/Spoje-NET/abraflexi-order-status-changer.git
Vcs-Browser: https://github.com/Spoje-NET/abraflexi-order-status-changer

Package: abraflexi-order-status-changer
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends},
	${misc:Depends}, php-spojenet-abraflexi, php-cli

Description: Change AbraFlexi order status according the keyword in note field. 
